/* Menu Bar */
.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
	overflow: hidden;
	position: -webkit-fixed; /* Safari */
    position: fixed;
    top: 0;
	width: 100%;
	z-index: 100;
}

.menubar li {
    float: left;
}

.menubar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menubar li a:hover, .dropdown:hover .dropbtn {
    background-color: #5599FF;
}

.menubar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #444444;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: fixed;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #5599FF;
	width: 100%;
	position: block;
	text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the link color to #111 (black) on hover */
.menubar li a:hover {
    background-color: #5599FF;
}

@media screen and (max-width: 600px){
.menubar ul {
	visibility: hidden;
}
}